<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waz.zms.mocked">

    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="23"/>

    <application>
        <meta-data android:name="E2EE_ENABLED" android:value="true" />
        <meta-data android:name="INTERNAL" android:value="true" />
    </application>
</manifest>
