<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waz.zms.it" android:versionCode="111" android:versionName="zms-it" >

    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17"/>

    <application>
        <meta-data android:name="E2EE_ENABLED" android:value="true" />
    </application>
</manifest>